<h2>Upload a File</h2>
<form ngNoForm>
  <input id="file" name="file" type="file" />
  <button (click)="upload()" type="button">Upload</button>
</form>

<h2>File Gallery</h2>
@if (imageList | async; as images) {
  <div style="overflow: hidden">
    @if (images.length === 0) {
      <div>There are not any images in this folder yet.</div>
    }
    @for (img of images; track img) {
      <div
        style="
            position: relative;
            width: 100px;
            height: 100px;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
        "
        >
        @if (img && img.downloadURL && ($any(img.downloadURL) | async)) {
          <img
            [src]="$any(img.downloadURL) | async"
            style="max-width: 100px; max-height: 100px"
            />
        }
        <button (click)="delete(img)" style="position: absolute; top: -15px; right: -30px">[x]</button>
        <button (click)="select(img)" style="position: absolute; top: 10px; right: -30px">[ ]</button>
      </div>
    }
  </div>
} @else {
  Retrieving images...
}
