<section>
    <div>
        <img
            src="/a/images/devfestmn.svg"
            style="width: 40%; max-width: 400px; min-width: 250px"
            alt="DevFestMN"
        />
    </div>
    <div class="callout">Confirmed Speakers</div>

    @if (auth.isAdmin()) {
    <button mat-raised-button color="primary" (click)="addSpeaker()">Add Speaker</button>
    }
    <div class="speaker-list-container">
        @for (speaker of speakers | async; track speaker) {
        <speaker-container [speaker]="speaker" [showEdit]="auth.isAdmin()"></speaker-container>
        }
    </div>
    @if (auth.isAdmin()) {
    <button mat-raised-button color="primary" (click)="addSpeaker()">Add Speaker</button>
    }
</section>
