@if (speaker) {
  <div style="text-align: left">
    <div class="callout">
      {{ speaker.name }}
      @if (auth.isAdmin | async) {
        <a
          [routerLink]="['/', year, 'admin', 'speakers', speaker.$key, 'edit']"
          >
          <img src="/a/edit.svg" />
        </a>
      }
    </div>
    <div style="display: flex; align-items: center; justify-content: center">
      <div
        class=""
        [style.background-image]="'url(' + speaker.imageUrl + ')'"
        style="background-size: cover; width: 125px; height: 125px; border-radius: 50%"
      ></div>
    </div>
    <div>{{ speaker.company }}</div>
    @if (speaker.twitter) {
      <div>
        <a href="https://twitter.com/{{ speaker.twitter }}" target="_new"
          >&#64;{{ speaker.twitter }}</a
          >
        </div>
      }
      @if (speaker.bio) {
        <div
          style="border: 1px solid #ccc; margin: 32px; padding: 32px"
          [innerHTML]="speaker.renderedBio"
        ></div>
      }
    </div>
  }
