<div style="padding: 32px">
    <h1>Admin DevFestMN</h1>
    @if (!(auth.uid())) {
    <div>
        <button type="button" (click)="auth.login()">Login</button>
    </div>
    } @if (auth.uid()) {
    <div>
        <span><strong>Signed In As:</strong> {{ auth.name() }} ({{ auth.uid() }})</span>
        <br />
        @if (auth.isAdmin()) {
        <span
            >You have awesome <strong>admin</strong> powers >
            <a (click)="auth.logout()" href="#"><strong>LOG OUT</strong></a></span
        >
        <div class="button-container flex">
            <a class="cta all-caps" routerLink="cfps">CFPs</a>
            <a class="cta all-caps" routerLink="reports">Reports</a>
        </div>
        } @else {
        <p>Looks like you aren't quite an admin yet. Go ask for some more permissions.</p>
        }
    </div>

    <router-outlet></router-outlet>
    }
</div>
